<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">

    </head>

    <body>
      <div class="container">
        <header class="nav box">
          <h1>Travel Planner</h1>
        </header>

        <main class="mainArea box">
          <div class="trip-image box">
            <img id="city-img" src="https://images.unsplash.com/photo-1451440063999-77a8b2960d2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
          </div>
          <div class="trip-info box">
            <p class="text-bold">My trip to: <span id="departingLocation">Paris, France</span></p>
            <p class="text-bold">Departing: <span id="departingDate">02/12/2020</span></p>
            <div class="btn">
                <button class="btn-save">Save trip</button>
                <button id="removeTripButton" class="btn-remove">Remove trip</button>
            </div>
            <p class="text-bold">Trip Length: <span id="tripLength"></span></p>
            <p class="text-small"><span id="mainLocation">Paris, France</span> is <span id="timeSpan">220 days away</span></p>
            <p class="text-small">Typical weather for then is:</p>
            <p class="text-small"><small>High: <span id="high">46</span>, Low: <span id="low">35</span></small></p>
            <p class="text-small"><small id="summary">Mostly cloudy throughout the day.</small></p>
          </div>

          <div class="form-info">
             <div class="cityInput">
                 <div class="dataInput">
                     <span class="text-bold">My trip to:</span>
                     <input type="text" id="place" placeholder="Paris" class="inputStyle"/>
                 </div>
                 <div class="dataInput">
                     <span class="text-bold">Departing:</span>
                     <input type="text" id="date" placeholder="MM/DD/YYYY" class="inputStyle"/>
                 </div>
                 <div class="dataInput">
                     <span class="text-bold">End Date:</span>
                     <input type="text" id="endDate" placeholder="MM/DD/YYYY" class="inputStyle"/>
                 </div>

                 <!-- <button>Get Weather Information</button> -->
                 <input id="btn-trip-info" type="submit" name="Get Weather Information" value="Get Trip Info" onclick="return Client.handleSearch(event)" onsubmit="return Client.handleSearch(event)">
             </div>
           </div>

        </main>


      </div>

      <script>
        window.addEventListener('load', () => {
        document.getElementById('removeTripButton').addEventListener('click', () => Client.buttonHandler());
        });
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
        }
      </script>

      </body>
</html>
