// .box{
//   border: 2px solid red;
//
// }

body {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    height: auto;
    margin: auto;
}
.container {
  height: auto;
  display: grid;
  grid-gap: 15px;
  /* border: 1px solid purple; */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 70%;
    grid-template-areas:
    "heading heading "
    "mainArea mainArea ";
    grid-auto-flow: row;

}

.nav{
  grid-area: heading;
}

.mainArea{
  grid-area: mainArea;
  width:80%;
  // border: 2px solid blue;
  width: 100vh;
  background: #ffedee;
  display: grid;
  grid-template-columns: minmax(.2fr,.5fr) minmax(.3fr, 5fr);
  grid-template-rows: 50vh 50vh;
  column-gap: 12px;
  padding-bottom: 10px;
  padding-left: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "trip-image trip-info"
    "form-info form-info";

}

.trip-image {
  grid-area: trip-image;
  display: flex;
  justify-content:center;
  padding: 20px;
  width:250px;
  height: 200px;
  overflow: hidden;
}

#city-img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.trip-info {
  grid-area: trip-info;
  padding-top:10px;
}

.form-info {
  grid-area: form-info;
}

.btn{
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.btn-save {
  background-color: white;
  color: black;
  height: 30px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.btn-save:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-remove {
  background-color: #ffedee;
  color: black;
  height: 30px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.btn-remove:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.text-bold {
    font-weight: bold;
    margin-top: 0px;
}

.text-small {
  font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}


#btn-trip-info {
  background-color: #fff;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#btn-trip-info:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.dataInput {
    margin-bottom: 30px;
}

.inputStyle {
    border-radius: 5px;
    height: 20%;
    border: solid 1px grey;
    padding: 5px;
}


@media screen and (max-width: 768px) {

  .container {
    width:auto;
    hight:auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70%;
      grid-template-areas:
      "heading"
      "mainArea ";


  }

  .mainArea{
    grid-area: mainArea;
    width:auto;
    hight:auto;
    background: #ffedee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "trip-image"
      "trip-info"
      "form-info";
    column-gap: 12px;
    padding-bottom: 10px;
    grid-auto-flow: row;
    justify-content: center;

  }

  .trip-info {
    grid-area: trip-info;
    padding-top:10px;
  }

  .trip-image {
    display: flex;
    justify-content:center;
    overflow:hidden;
    width:80%;
    height: 300px;
  }
}
